body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.Botones {
    text-align: center;
}

button {
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button.cancelar {
    background-color: #ff6347;
}

button.cancelar:hover {
    background-color: #ff3b28;
}

h2 {
    color: #4CAF50;
}

label.checkbox {
    display: block;
    margin-bottom: 10px;
    color: #333;
}